
<h1>Welcome, {{$ctrl.testName}}</h1>
<h2>Here is your list:</h2>
<div ng-repeat="stock in stocks">
  <div class="stockName">
    {{stock.id}}
  </div>
  <div>
    <button class="btn btn-default" ng-click="lessSpecific(stock.id)">View</button>
    <button class="btn btn-danger" ng-click="$ctrl.deleteStock(stock.id)">Delete</button>
  </div>
</div>


<h2>Price: {{stockReqData.el}}</h2>
<h2>{{data.character.el}}</h2>

<input type="text" ng-model="newStockId"></input>
<button ng-click="$ctrl.addStock()">Add to List</button>

<button ng-click="getThing()">Find Treasure</button>
